body {
	font: {
		family: 'Ubuntu', sans-serif;
		size: 16px;
	}
	color: map-get($text, main);
	overflow-x: hidden;
}

.max-width {
	width: 80%;
	margin: 0 auto;

	@media screen and (max-width: 1023px) {
		width: 75%;
	}

	@media screen and (max-width: 549px) {
		width: 70%;
	}

	@media screen and (max-width: 399px) {
		width: 65%;
	}
}

.mid-width {
	width: 960px;
	margin: 0 auto;

	@media screen and (max-width: 1023px) {
		width: 96%;
	}
}

.min-width {
	width: 100%;
	margin: 0 auto;
}

.clearfix {
	content:"";
	display:table;
	clear:both;
}

.rom-arrow-up {
	position: absolute;
	font-size: 50px;
	right: 50px;
	top: 50px;
	@media screen and (max-width: 1023px) {
		right: 20px;
		top: 20px;
		font-size: 20px;
	}
}

.rom-arrow-down {
	position: absolute;
	font-size: 50px;
	right: 50px;
	bottom: 50px;
	@media screen and (max-width: 1023px) {
		right: 20px;
		bottom: 20px;
		font-size: 20px;
	}
}