@mixin transition {
	transition: 0.2s ease-in-out 0.1s;
}

@mixin section-size {
	width: 100%;
	height: auto;
}
@mixin link-decoration {
	text-decoration: none;
	color: $secondary-color;
}

@mixin text-shadow {
	text-shadow: 1px 1px 5px rgba(0,0,0,.5)
}

@mixin box-shadow {
	box-shadow: 15px 0 10px rgba(0,0,0,.5);
}

@mixin button-style {
	display: block;
	padding: 1rem 2rem;
	color: $accent-color;
	background-color: rgba(255,255,255,0.9);
	opacity: 1;
	border: 2px solid rgba(255,255,255,0.9);
	border-radius: 3px;
	margin: 0 auto;
	font: {
	size: $large-text;
	family: $primary-font;
	weight: 700;
	}
}

@mixin button-style-shadow {
	box-shadow: 1px 1px 5px rgba(0,0,0,.5);
}
