.services {
	@include section-size;
	background: $primary-color;
	padding:4rem 0 8rem 0;
}

.services h1 {
	color: $secondary-color;
	padding-bottom: 6rem;
}

.services-all {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}

.services .services-all .service div {
	display: block;
	width: 150px;
	height: 150px;
	margin: 0 auto;
}


.services-all h2 {
	color: $secondary-color;
	font: {
		size: $large-text;
		weight: 700;
	}
	padding-bottom: 2rem;

}

.services-all p {
	color: $background-color;
}

.service {
	padding: 0 2rem;
	text-align: center;
}