$primary-color: white;
$accent-color: rgba(231, 76, 60,1.0);
$secondary-color: #1A1831;
$foreground-color: lightgrey;
$background-color: grey;

$small-text: 0.75rem;
$body-text: 1rem;
$large-text: 1.333rem;
$heading-text: 1.777rem;
$heading-text-big-mobile: 2.777rem;
$heading-text-big: 3.777rem;
$primary-font: "Lora", serif;