.realty .cell-image-1 {
  background-image: url(../img/img-1.jpg);
}

.realty .cell-image-2 {
  background-image: url(../img/img-2.jpg);
}

.realty .cell-image-3 {
  background-image: url(../img/img-3.jpg);
}

.realty .cell-image-4 {
  background-image: url(../img/img-4.jpg);
}

.realty .cell-image-5 {
  background-image: url(../img/img-5.jpg);
}

.realty .cell-image-6 {
  background-image: url(../img/img-6.jpg);
}
