html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


body {
    line-height: normal;
    font-family: Arial;
    font-size: 13px;
    color: #333;
}


.t1_header_navbar {
  	border: 0;
	background-color: white;
}


.t1_header_navbar_container {
    width: 960px;
}


.t1_header_navbar_logo {
    height: 120px;
}


.t1_language-bar{
	position: relative;
	right: 0;
	top: 60px;
	height: 24px;
	overflow: visible;
	margin-top: 15px;
	margin-bottom: 20px;
}


.t1_language-bar_item{
	display: inline-block;
	height: 20px;
	width: 45px;
	border-right: 1px solid gray;
}


.t1_language-bar_item:last-of-type{
	border-right: none;
}


.t1_language-bar_item:active{
	background: #d4d4d4;
}


.t1_language-bar_active {
	background:#5f93d6;
}

.t1_language-bar_active a{
	color: #fff;
}


.t1_language-bar_item_link{
	display: inline-block;
	width: 100%;
	text-decoration: none;
	color: #000;
	font-size: 10px;
	font-family: Arial, sans-serif;
	line-height: 22px;
	text-align: center;
}

.t1_language-bar_item_link:hover{
	text-decoration: underline;
	color: #615d5d;
	background:rgba(149, 202, 249, .3);
}


.t1_review-button {
	background-color: #A0BB44; 
	color: white;
	margin-bottom: -3px;
}


.t1_review-button_text,
.t1_review-button_text:hover {
	color: white;
	text-decoration: none;
}


.tabArabic {
    font-family: Arial;
}


.t1_review-button_greenline {
	background: #A0BB44;
	padding: 3px 0;
}


.t1_content {
	background: url(background.png);
	margin: 20px 0;
	border-top: #ccc 1px solid;
	padding-top: 30px;
}


.t1_form-name {
	margin-left: 20px;
}


.t1_form-name_bold {
	font-weight: bold;
}

.t1_form_padding {
	padding-bottom: 20px;
}

.t1_progressbar_form {
	margin: auto;
	width: 100%;
}


.t1_progressbar_border {
	border: #337ab7 1px solid;
}


.t1_form_required {
	padding-top: 10px;
}


.t1_form_required_icon {
	color: red;
}


.control-label.t1_form_leftalign {
	text-align: left;
}

.t1_footer-nav_wrapper {
	text-align: center;
}

.t1_footer_row-line{
    border-top: #ccc 1px dashed;
}

.t1_footer_line {
	padding-top: 5px;
/*	padding-bottom: 20px;*/
	display: inline-block;
}


.t1_footer-nav_wrapper_item {
	display: inline;
}


.t1_footer_center {
	vertical-align: baseline;
	padding: 10px 15px;
}


.t1_form_next_padding {
	padding: 30px 0;
}


.t1_footer_nav_copy {
    margin-top: 20px;
    margin-bottom: 20px;
}

.t1_form_inputsize {
	width: 60px;
	float: left;
	margin-left: 15px;
}

@media (max-width: 1258px){
	.t1_form_fontsize {
		font-size: 12px;
	}

}

@media (max-width: 1188px){
	.t1_form_fontsize {
		font-size: 11px;
	}

}

@media (max-width: 1110px){
	.t1_form_fontsize {
		font-size: 10px;
	}

}

@media (max-width: 1050px){
	.t1_form_fontsize {
		font-size: 9px;
	}
}

@media (min-width: 992px){
    .t1_bootstrap_right {
        text-align: right;
    }
}

@media (max-width: 992px){
	.t1_language-bar {
		top: 0px;
	}
	.t1_form_font {
		font-size: 35px;
        margin-top: 20px;
        margin-bottom: 20px;
	}
	.t1_form_fontsize {
		font-size: 17px;
	}
	.t1_form_titlefont {
		font-size: 24px;
	}
}

.radio-inline.t1_form_align {
	margin-left: 20px;
}

.t1_form_green {
	color: green;
}

.t1_form_red {
	color: red;
}

.control-label.t1_form_leftalign.t1_form_article {
	padding-top: 20px;
	padding-bottom: 20px;
}

.t1_form_currency {
	margin-right:-30px;
}

.t1_form_greenmessage {
	color: green;
}

.t1_form_titledecoration {
	text-decoration: underline;

}

.input-group.t1_form_calendarposition {
	padding-left: 15px;
	padding-right: 15px;
}


#inputlg.input-lg.t1_form_radiobutton {
	width: 20px;
  	height: 20px;
  	margin-left: 0px;
}

#inputlg.input-lg.t1_form_radioposition1 {
  	margin-top: 90px;
}

#inputlg.input-lg.t1_form_radioposition2 {
  	margin-top: 50px;
}

.t1_near-input{
    width: 89%;
}

@media (max-width: 1090px){
	#inputlg.input-lg.t1_form_radioposition1 {
  		margin-top: 40px;
	}

	#inputlg.input-lg.t1_form_radioposition2 {
  		margin-top: 30px;
	}
    .t1_near-input{
        width: 80%;
    }
}

@media (max-width: 920px){
    #inputlg.input-lg.t1_form_radioposition2 {
        margin-top: 50px;
    }
}

@media (max-width: 886px){
    #inputlg.input-lg.t1_form_radioposition1 {
        margin-top: 60px;
    }
}

@media (min-width: 992px) {
    .t1_desktop_border {
        border-style: none;
    }
    .radio-inline input[type="radio"] {
        margin-top: -0.5px;
    }
    .alert.alert-danger {
        margin-left: 34.5%;
        width: 39.5%;
    }
    .alert.alert-danger.t1_other_inputs2 {
        margin-left: 56.5%;
    }
    .alert.alert-danger.t1_other_inputs3 {
        margin-left: 75%;
        width: 24%;
    }
    .alert.alert-danger.t1_other_inputs {
        margin-left: 51%;
        margin-right: 51%;
    }
    .t1_front-page_body-row_header{
        width: 320px;
    }
    .t1_front-page_body-row_text_wrapper-flex{
        width: 25%;
    }
    .t1_front-page_body-row{
        height: 200px;
    }
    h2.t1_front-page_body-row_header{
        margin-bottom: 0px;
    }
}

.alert.alert-danger {
    background-color: white;
    padding: 6px;
    margin-top: -14px;
    border: none;
}

@media (max-width: 992px) {
    .t1_mobile_border {
        border-style: none;
    }
    .t1_form_inputsize {
        width: 250px;
        margin-left: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .t1_form_padding {
        font-weight: bold;
        font-size: 24px;
    }
    .t1_desktop_border {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
    }
    
    .radio-inline{
        font-size: 150%;
    }
    
    .btn-default{
        width: 400px;
        height: 120px;
        font-size: 50px;
        font-weight: 400;
        margin-top: 20px;
    }
    
    .btn-primary{
        width: 400px;
        height: 120px;
        font-size: 50px;
        font-weight: 400;
        margin-top: 20px;
    }
    .btn.btn-primary.t1_editbutton{
        width: 100%;
    }
    
    .glyphicon{
        font-size: 50px;
        top: 5px;
    }
    
    .t1_btn_full-width{
        width: 90%;
        margin-top: 30px;
    }
    
    .control-label{
        padding-bottom: 10px;
    }
    
    .t1_button_tick div.t1_question_button_item{
        font-size: 18px;
    }
    
    .progress-bar{
        font-size: 32px;
        line-height: 60px;
    }

    .form-horizontal .control-label.left{
        text-align: left;
        font-size: 45px;
        font-weight: 200;
    }
    
    .form-horizontal .control-label.center{
        text-align: center;
    }
    
    .t1_form-name{
        font-size: 50px;
    }
    
    select.input-sm{
        height: 80px;
        line-height: 80px;
        font-size: 32px;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    
    input[type="text"].input-sm{
        height: 80px;
        font-size: 32px;
/*        width: 94%;*/
        margin: auto;
    }
    
    .t1_required-big{
        font-size: 30px;
    }
    
    .navbar > .container .navbar-brand{
        margin-left: 25%;
        height: 200px;
    }
    
    input[type="text"].input-sm.t1_margin-top-20{
        margin-top: 20px;
    }
    
    .progress{
        height: 60px;
        line-height: 60px;
    }
    
    .t1_form_required{
        font-size: 30px;
        margin-top: 10px;
    }
    
    .panel-body h4{
        font-size: 40px;
    }
    
    .control-label.t1_form_leftalign.t1_form_article{
        font-size: 60px;
        margin-top: 10px;
    }
    
    .form-group .radio-inline{
        font-size: 50px;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    
    .radio-inline.t1_form_align{
        margin-left: 0px;
    }
    
    .radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline{
        margin-left: 70px;
    }
    
    .radio-inline input{
        width: 40px;
        height: 40px;
        left: -10px;
    }
    
    .t1_radio-margin-left.radio-inline.t1_form_align{
        margin-left: 50px;
        line-height: 50px;
    }
    
    .t1_radio-margin-left.radio-inline.t1_form_align, .t1_radio-margin-left + .radio-inline{
        margin-bottom: 30px;
        margin-top: 0px;
    }
    
    .form-horizontal .control-label.t1_form_font{
        line-height: 60px;
        font-size: 40px;
        /* padding-top: 0px; */
        margin-top: -5px;
        margin-bottom: 40px;
    }
    
    div.radio.t1_form_font .col-sm-12{
        font-size: 40px;
        margin-bottom: 40px;
        margin-left: 60px;
    }
    
    div.radio.t1_form_font .col-sm-12 input{
        width: 40px;
        height: 40px;
        left: -15px;
    }
    
    .panel-body .t1_form_titledecoration{
        font-size: 50px;
    }
    
    .panel-body ul li{
        font-size: 34px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    
    .input-group-addon{
        height: 90px;
        font-size: 40px;
    }
    
    .input-group-addon input{
        width: 50px;
        height: 50px;
    }
    
    .t1_form_calendarposition .input-group-addon{
        height: 80px;
    }
    
    .t1_form_calendarposition .input-group-addon .glyphicon-th{
        top: 0px;
    }
    
    .form-horizontal .control-label.t1_form_font.center{
        font-size: 50px;
    }
    .t1_button_tick div.t1_question_button_item,
    .t1_button_tick div.t1_question_button_item_wing {
        height: 100px;
        font-size: 50px;
        line-height: 80px;
    }
    .t1_button_margin {
        margin-top: -40px;
    }
    .form-group.t1_label_margin {
        margin-top: 120px;
    }
    .t1_button_margin.t1_main_bottom {
        margin-bottom: 100px;
    }
    .alert.alert-danger {
    margin-top: -15px;
    height: 50px;
    font-size: 230%;
    padding: 10px;
    }
    .alert.alert-danger.t1_radio {
    margin-left: 28%;
    }
    .alert.alert-danger.t1_radio2 {
    margin-left: 51%;
    }
    .alert.alert-danger.t1_radio3 {
    margin-left: 45%;
    }
    .form-control.input-sm:focus {
        font-size: 70px;
        height: 120px;
    }
    .t1_form_font.left.t1_move_down {
        margin-top: 120%;
    }
    .t1_front-page_body-row_text_link-text{
        padding-left: 60px;
    }
    .t1_front-page_body-row_text_link-text,
    .t1_front-page_body-row_text_link-text_counter{
        font-size: 50px;
    }
    .t1_front-page_body-row{
        background: #fff;
        border: none;
        box-shadow: none;
    }
    .t1_front-page_body-row_header{
        font-size: 50px;
        color: #000;
        background: #fff;
        border: none;
        display: inline-block;
        padding-left: 0;
    }
    .t1_front-page_body-row_header_wrap{
        padding-bottom: 40px;
    }
    .t1_mobile_image-image{
        height: 75px;
        display: inline-block;
        padding-top: 10px;
        float: right;
    }
    .t1_front-page_body-row_text_wrapper_list-item{
        font-size: 50px;
    }
    .t1_front-page_body-row_text_wrapper-flex{
        padding-left: 30px;
    }
    .t1_content_landing-head_header-underline{
        font-size: 50px;
    }
    .t1_content_landing-form_voucher-text{
        font-size: 40px;
    }
    .t1_content_landing-head_text-benefits-list_item_link{
        font-size: 40px;
    }
    .t1_content_landing-head_text-benefits-list_item{
        font-size: 40px;
        color: #23527c;
    }
    .btn.btn-default.dropdown-toggle{
        width: 180px;
        height: 150px;
        border-color: #000;
        border-width: 7px;
    }
    ul.dropdown-menu{
        font-size: 60px;
        border: 5px solid #000;
    }
    .glyphicon.glyphicon-menu-hamburger::before{
        font-size: 120px;
    }
    .btn.btn-default.pull-left{
        width: 0;
    }
    .glyphicon.glyphicon-menu-left{
        font-size: 120px;
    }
    .btn.btn-default.pull-left.hidden-md.hidden-lg{
        border: none;
    }
    .btn.btn-default.pull-left.hidden-md.hidden-lg:hover{
        background-color: #fff;
    }
    .btn.btn-default.pull-left.hidden-md.hidden-lg:active{
        box-shadow: none;
    }
    .dropdown-menu .divider{
        height: 5px;
        background-color: #000;
    }
}

.label-primary.t1_span_color {
    color: white;
}

.t1_mobile_border {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Enhancements by Roman */

@media screen and (max-width: 991px) {
    .navbar > .container .navbar-brand {
        margin-left: 0;
        height: 80px;
    }

    .t1_header_navbar_container {
        width: 100%;
    }

    .btn.btn-default.dropdown-toggle {
        margin-top: 10px;
        padding: 0;
        height: 60px;
        width: 60px;
        text-align: center;
        transform: rotate(0deg);
        transition: transform .3s;
        border: none;
        background-color: rgba(90, 143, 210, .5);
    }

    .btn.btn-default.dropdown-toggle .glyphicon {
        top: 0;
    }

    .glyphicon.glyphicon-menu-hamburger::before {
        font-size: 40px;
    }

    .open > .dropdown-toggle.btn-default {
        transform: rotate(90deg);
        color: rgba(90, 143, 210, 1) !important;
    }

    .pull-right > .dropdown-menu {
        width: 320px;
    }

    ul.dropdown-menu {
        font-size: 18px;
        border: 2px solid #000;
    }

    .dropdown-menu .divider {
        height: 2px;
    }

    .t1_front-page_body-row_header {
        font-size: 25px;
    }
    .t1_front-page_body-row_text_link-text, .t1_front-page_body-row_text_link-text_counter {
        font-size: 20px;
    }

    .t1_front-page_body-row_text_link-text {
        padding-left: 15px;
    }

    .t1_front-page_body-row_text_wrapper_list-item {
        font-size: 30px;
    }
}

@media screen and (max-width: 610px) {
    .t1_front-page_body-row_header {
        font-size: 20px;
    }

    .t1_front-page_body-row_text_link-text {
        padding-left: 0;
    }

    .t1_front-page_body-row_text_link-text, .t1_front-page_body-row_text_link-text_counter {
        font-size: 18px;
    }

    .t1_mobile_image-image {
        height: 70px;
        padding-top: 20px;
    }

    .t1_front-page_body-row_header_wrap {
        padding-bottom: 20px;
    }

    .t1_front-page_body-row_text_wrapper_list-item {
        font-size: 25px;
    }

    .t1_desktop_border {
        padding-bottom: 20px;
    }

    .t1_front-page_body-row_header {
        height: auto;
    }
}

@media screen and (max-width: 510px) {
    .t1_mobile_image-image {
        height: 75px;
        padding-top: 10px;
        display: block;
        margin: 0 auto;
        float: none;
    }

    .t1_front-page_body-row_header {
        width: 100%;
    }
}

@media screen and (max-width: 370px) {
    .pull-right > .dropdown-menu {
        width: 280px;
        font-size: 16px;
    }
}